* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

body {
    background-color: #ccc;
}

.apply_box {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.2);
    border-radius: 10px;
}

.title_small {
    font-size: 20px;
}

.form_container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form_control {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

input,
select,
textarea {
    padding: 6px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

input:focus {
    outline-color: red;
}